.homePage {
    padding: 130px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../capstone-images/skull-background.jpg");
    background-position: cover;
    background-attachment: fixed;
}

.selections {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}

.selections div {
    background-image: url("../capstone-images/bones.jpg");
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 230px;
    color: white;
    margin: 7px 0;
    box-shadow: 2px 2px 5px 2px black;
    border: 2px white solid;
    border-radius: 2%;
    transition: 0.3s;
}

.selection:hover {
    transform: scale(1.05);
    border-color: rgb(189, 8, 8);
}

.welcome {
    margin: 20px 0;
    color: white;
    text-align: center;
}

.welcomeUser {
    font-size: 33px;
    margin-bottom: 45px;
}

.welcomeUser span {
    color: rgb(189, 8, 8);
}

.latest {
    font-size: 20px;
}

.recentAdditions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.recentAdditions .scareContainer {
    margin: 10px;
}

.ready {
    font-size: 20px;
    margin-bottom: 10px;
}

.addMore {
    display: flex;
    justify-content: center;
}

.addMore div {
    font-size: 18px;
    margin-bottom: 5px;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 6px 10px;
    transition: 0.8s;

}

.addMore span {
    font-weight: 800;
    font-size: 20px;

}

.addMore div:hover {
    color: white;
    background-color: rgb(177, 53, 53);
}

.createNew {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    display: none;
    backdrop-filter: blur(8px);
}

.createNew div {
    width: 100%;
    height: 100%;
    background-color: rgb(19, 19, 19);
    opacity: .88;
    padding-top: 100px;

}

.form {
    background-color: white;
    width: 380px;
    height: 910px;
    position: fixed;
    bottom: -1000px;
    left: 3vw;
    transition: 1s;
    border-radius: 100px;
    /* box-shadow: 2px 2px 5px 2px black; */

}

.form-container {
    position: fixed;
    top: 70px;
    left: -650px;
    z-index: 200;
    transition: 1s;
}

.latest-film-img {
    filter: invert(100%);
    width: 220px;
    padding: 112.5px 25px;
}

.latest-book-img {
    filter: invert(100%);
    width: 220px;
    padding: 112.5px 25px;
}

.latest-game-img {
    filter: invert(90%);
    width: 150px;
    position: relative;
    top: 40px;
    padding: 112.5px 25px;
}

@media only screen and (max-width: 1420px) {
    .selections {
        flex-direction: row;
        justify-content: center;
    }

    .selections div {
        margin-right: 16px;
    }

    .homePage {
        flex-direction: column-reverse;
        justify-content: ce;
    }
}

@media only screen and (max-width: 925px) {
    .homePage {
        padding-top: 375px;
    }

}