.homePage {
    padding: 130px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../capstone-images/horror-background.jpg");
    background-size: cover;
    background-position: center;
}


.selections div {
    background-image: url("../capstone-images/bones.jpg");
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 230px;
    color: white;
    margin: 20px auto;
    box-shadow: 2px 2px 5px 2px black;
    border: 5px rgb(79, 110, 126) solid;
    border-radius: 2%;
}

.selection:hover {
    transform: scale(1.05);
}

.welcome {
    width: fit-content;
    margin: 20px;
    border: 3px solid rgb(79, 110, 126);
    padding: 10px 20px 10px 15px;
    background-color: rgb(30, 33, 34);
    opacity: .92;
    color: white;
    text-align: center;
}

.welcomeUser {
    font-size: 33px;
    margin-bottom: 60px;
}

.welcomeUser span {
    color: rgb(189, 8, 8);
}

.latest {
    font-size: 20px;
}

.recentAdditions {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
}

.recentAdditions .scareContainer {
    margin: 10px;
}

.ready {
    font-size: 20px;
    margin-bottom: 10px;
}

.addMore div {
    font-size: 18px;
    margin-bottom: 5px;
    padding: 3px 5px;
    width: 250px;
    margin: 3px auto;
}

.addMore div:hover {
    color: white;
    background-color: rgb(177, 53, 53);
}

.createNew {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    display: none;
    backdrop-filter: blur(3px);
}

.createNew div {
    width: 100%;
    height: 100%;
    background-color: rgb(18, 27, 44);
    opacity: .6;
    padding-top: 100px;

}

.form {
    background-color: white;
    width: 580px;
    height: 886px;
    position: fixed;
    top: 20px;
    right: -600px;
    transition: 1s;
    box-shadow: 2px 2px 5px 2px black;

}

.skeletonHands {
    position: fixed;
    top: 70px;
    right: -650px;
    z-index: 200;
    transition: 1s;
}

/* .handsScareContainer {
    position: fixed;
    height: 600px;
    width: 400px;
    background-color: white;
    top: 236px;
    right: -400px;
    z-index: 190;
    transition: 1s;
} */

@media only screen and (max-width: 1075px) {
    .homePage {
        flex-direction: column-reverse;
    }

    .welcome {
        margin: 20px auto 0;
        padding: 7px 15px;
    }

    .recentAdditions {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 794px) {
    .homePage {
        padding-top: 250px;
    }

}