.scareList {
    display: flex;
    flex-wrap: wrap;
}

.scareContainer {
    margin: auto;
    justify-content: center;
    width: 280px;
}

.scareBackground {
    height: 360px;
    background-size: cover;
    background-position: bottom;
    position: relative;
    z-index: 1;
    transition: 1s;

}

.scareHeader {
    background-color: black;
    color: white;
    height: 100px;
    position: relative;
    z-index: 10;
}

.scareNameIcon {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 73px;
    filter: invert(100%);
    position: relative;
    bottom: 12px;
    left: 7px;
}

.game {
    width: 50px;
    bottom: 0px;
    left: -7px;
    filter: invert(90%)
}

.heart {
    width: 30px;
    transform: rotate(15deg);
    filter: grayscale(100%) brightness(10%);
}

/* .heart:hover {
    filter: grayscale(0%) brightness(100%);
}
 */


.scare {
    border: 1px black solid;
    background-color: white;
    height: 00px;
    position: relative;
    text-overflow: nowrap;
    transition: 1s;
    transition-delay: 2s;
    z-index: 0;
    overflow: hidden;

}


.description {
    position: absolute;
    top: 0px;
}

.userRating {
    position: absolute;
    top: 170px;
}

.avgRating {
    position: absolute;
    top: 225px;
}

.comments {
    position: absolute;
    bottom: 50px;
}

.recommend {
    position: absolute;
    bottom: 00px;
}