/* .scareContainer {
    margin: auto;
    justify-content: center;
    width: 280px;
} */

.allScares {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

.allScaresItem {
    height: 460px;
    width: 280px;
}

.collectionsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.collectionItem {
    height: 460px;
    width: 280px;
}

.scareContainer {
    height: 100%;
    width: 100%;
}

.recentScares {
    height: 240px;
    width: 160px;
    color: black;
    font-size: 14px;
}

.scareBackground {
    height: 85%;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    position: relative;
    z-index: 1;
    transition: 1s;

}

.scareHeader {
    background-color: black;
    color: white;
    /* height: 100px; */
    height: 15%;
    position: relative;
    z-index: 10;
}

.scareNameIcon {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 26%;
    filter: invert(100%);
    position: relative;
    bottom: 12px;
    left: 7px;
}

.recentScares .icon {
    bottom: 8px;
}

.game {
    width: 19%;
    bottom: 0px;
    left: -7px;
    filter: invert(90%)
}

.recentScares .game {
    bottom: 1px;
}

.heart {
    width: 30px;
    transform: rotate(15deg);
    filter: grayscale(100%) brightness(10%);
}

.recentScares .heart {
    width: 18px;
}

.scare {
    border: 1px black solid;
    background-color: white;
    height: 00px;
    position: relative;
    text-overflow: nowrap;
    transition: 1s;
    transition-delay: 2s;
    z-index: 0;
    overflow: hidden;

}


.description {
    position: absolute;
    top: 0px;

}

.description div {
    border: 1px solid black;
    height: 140px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 95%;
    margin: auto;
}

.recentScares .description div {
    height: 60px;
    font-size: 12px;
}


.userRating {
    position: absolute;
    top: 170px;
}

.recentScares .userRating {
    top: 84px;
}

.avgRating {
    position: absolute;
    top: 225px;
}

.recentScares .avgRating {
    top: 120px;
}

.comments {
    position: absolute;
    bottom: 50px;
}

.recentScares .comments {
    top: 160px;
}

.recommend {
    position: absolute;
    bottom: 00px;
}