nav {
    background-color: rgb(3, 3, 3);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    opacity: .95;
    height: 150px;
    z-index: 50;
}

.navflex {
    display: flex;
    justify-content: space-between;

}

.appTitle {
    font-family: 'Segoe UI';
    background-image: url("../capstone-images/skullpile.jpg");
    background-clip: text;
    background-size: 380px;
    background-position: right bottom;
    color: transparent;
    align-self: center;
    animation-name: colorChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    font-size: 90px;
    font-weight: 800;
    position: relative;
    bottom: 20px;
    border-bottom: solid white 1px;
}

.appTitle span {
    margin-left: 15px;
    display: block;
}



@keyframes colorChange {
    from {
        background-position: right bottom;
    }

    to {
        background-position: left bottom;
    }

}

.navLinks {
    display: flex;
    align-items: end;
    position: relative;
    bottom: 17px;
    left: 20px;
    flex-wrap: wrap;
}

.navLinks .nav-item:hover {
    color: rgb(156, 4, 4);
    background-color: white;
}

.navLinks .nav-item {
    margin: 0 5vw 0 0;
    padding: 5px 25px;
    border-radius: 10px;
    transition: 0.8s;
    font-weight: bold;
}

.profile {
    justify-self: end;
    align-self: center;
}

.logout {
    margin: 0 5vw 0 0;
    padding: 5px 25px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.8s;
    font-size: 16px;

}

.logout a {
    color: rgb(204, 1, 1);
    text-decoration: none;
    transition: 0.8s;
}

.logout:hover {
    background-color: rgb(177, 53, 53);
}

.logout:hover a {
    color: white;
}


@media only screen and (max-width: 925px) {

    .appTitle {
        font-size: 9.5vw;
        padding-top: 1.8vw;
    }

    .nav-item {
        font-size: 14px;

    }

    .logout {
        font-size: 14px;
    }

}