body {
    background-color: rgb(0, 0, 0);
}

.h1,
h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 8vh auto 0;
    text-align: left;
    font-family: "Spectral SC";
    font-style: italic;
    color: rgb(177, 53, 53);
}

.form--login>fieldset>input[type="email"],
.form--login>fieldset>input[type="text"] {
    width: 25em;
    margin: auto;
}

.form--login>fieldset>input[type="email"]:focus,
.form--login>fieldset>input[type="text"]:focus {
    outline: 2px solid rgb(177, 53, 53);
}


.label--login {
    width: 8rem;
    display: inline-block;
    font-family: "Spectral SC";
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(177, 53, 53);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: "Spectral SC";
}

.container--login {
    text-align: center;
}

.form--login {
    background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    min-width: 45vw;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.label-login {
    width: 25em;
    margin: auto;
    display: block;
    font-size: 18px;

}

.button--close {
    position: relative;
    bottom: -2rem;
}

#scaring {
    z-index: 2;
}

#is {
    z-index: 1;
}

#scaring,
#is,
#caring {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#scaring div,
#is div,
#caring div {
    font-family: 'Segoe UI';
    background-image: url("../capstone-images/skullpile.jpg");
    background-clip: text;
    background-size: 480px;
    background-position: right bottom;
    color: transparent;
    align-self: center;
    animation-name: colorChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    font-size: 20vw;
    font-weight: 800;
    text-align: center;
    margin-top: 0vh;
}

.login-title {
    font-family: 'Segoe UI';
    background-image: url("../capstone-images/skullpile.jpg");
    background-clip: text;
    background-size: 480px;
    background-position: right bottom;
    color: transparent;
    align-self: center;
    animation-name: colorChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    font-size: 9vw;
    font-weight: 800;
    text-align: center;
    margin-top: 5vw;
}

.login-bttn {
    padding: 5px 7px;
    font-family: "Spectral SC";
    transition: 0.8s;
    border-radius: 5px;
    margin: auto;
    display: block;
}

.login-bttn:hover {
    background-color: rgb(177, 53, 53);
}

.link--register {
    color: rgb(177, 53, 53);
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: rgb(177, 53, 53);
}