.edit-container {
    flex-wrap: wrap;
    display: flex;
    z-index: 2000;
    position: fixed;
}

.edit-form {
    width: 300px;
    height: 545px;
    margin: 10px;
    background-color: white;
    border: 1px black solid;
    padding: 10px 10px 10px 10px;
    background-image: url("../capstone-images/skull-background.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.edit-form-content form {
    width: 70%;
    margin: auto;
}

.edit-form-content {
    color: white;
    top: 10px;
}

.edit-form-content span {
    display: inline-block;
    width: 100%;
    border-bottom: solid 1px white;
    padding: 2px 0;
}

.edit-form-content span span {
    display: inline;
    border-bottom: none;
    color: rgb(189, 8, 8);
    font-weight: bold;

}

.edit-form-scare {
    margin: auto;
    width: 280px;
    height: 485px;
    position: relative;
    bottom: -5px;
    right: 10px;

}

#editForm label {
    display: block;
}

#editForm fieldset {
    padding: 8px 0;
}

#editForm input {
    font-family: "Spectral SC";
    padding: 2px 10px;
}

#editForm select {
    font-family: "Spectral SC";
    width: 105%;
}

#editForm option {
    font-family: "Spectral SC";
    padding: 2px;
}

#editForm textarea {
    padding: 5px 10px;
    resize: none;
    height: 200px;
    overflow-y: scroll;
    font-family: "Spectral SC";
}

.edit-submit-btn {
    margin: 9px auto;
    padding: 5px 15px;
    font-family: "Spectral SC";
    font-weight: bold;
    border: none;
    border-radius: 4px;
    ;
}

.edit-submit-btn:hover {
    transform: scale(1.05);
    background-color: rgb(189, 8, 8);

}